#orders_table_filter.table_filter.navbar.container
  .navbar-inner
    = simple_form_for :params, url: actual_orders_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do |f|
      .input-append
        =f.input :order_number, as: :string, id: 'search_order_input', class: 'search-query input-medium', placeholder: Order.human_attribute_name(:number)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      .input-append
        =f.input :object, id: 'search_order_object_input', class: 'search-query input-medium', placeholder: Order.human_attribute_name(:object)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      .input-append
        =f.input :customer, id: 'search_customer_input', class: 'search-query input-medium', placeholder: Order.human_attribute_name(:customer)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
