#tasks_table_filter.table_filter.navbar.container
  .navbar-inner
    = form_tag actual_tasks_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do
      .input-append
        = text_field_tag :ticket, params[:ticket], id: 'search_device_input', class: 'search-query input-large',
            placeholder: Device.human_attribute_name(:ticket_number)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      .input-append
        = text_field_tag :device, params[:device], id: 'search_device_input', class: 'search-query input-large',
            placeholder: t('devices.index.device_search_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      .input-append
        = text_field_tag :client, params[:client], id: 'search_client_input', class: 'search-query input-large',
            placeholder: t('devices.index.client_search_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove
