.page-header
  %h2= t 'dashboard.device_info', default: 'Device information'
.form-search
  .input-append
    = text_field_tag :ticket_number, '922943187', class: 'search-query',
        placeholder: t('dashboard.enter_ticket_number', default: 'Enter ticket number')
    %a.btn.btn-info#search_device_info{disable_with: icon_tag('search').html_safe}= t 'search', default: 'Search'

#device_info
