:plain
  $('#dashboard_content').html("#{j(render(partial: @table_name))}");
  if(#{@location_name.present?})
    $('.devices_location').text(". #{@location_name}")
  else
    $('.devices_location').text("");
  if(#{@devices.present?})
    $('.table_filter').show()
  else
    $('.table_filter').hide();