:plain
  $('#announce_button').replaceWith("#{j header_link_to_announce}");
  $('#coffer_order_link').popover('hide');
- if @announcements.present?
  - @announcements.each do |announcement|
    - publish_to '/announcements' do
      == $("#announcement_#{announcement.id}").remove();

- if @announcement.present?
  == closeAnnouncement($("#announcement_#{@announcement.id}"));