:plain
  $('#good_karmas .karma_link.ui-selected').tooltip('destroy').remove();
  $("#{j(render(@karma_group))}").prependTo('#good_karmas').fadeIn();
  bindKarmaGroupEvents("#karma_group_#{@karma_group.id}");
  hideCreateKarmaGroupForm();