:plain
  $karma_group = $("#karma_group_#{@karma_group.id}");
  $karma_group.popover('destroy');
  $karma_group.popover({
    html: true,
    placement: 'top',
    title: "#{j(karma_group_title(@karma_group))}",
    content: "#{j(karma_group_content(@karma_group))}",
    container: '#karma_group_popover_container'
  });
  $karma_group.popover('show');
  bindKarmaEvents('#karma_group_popover_container .karma_link');