:plain
  if($('#new_comment').parents('.popover').length > 0){
    $('#new_comment').parents('.popover').prev().popover('destroy');
  }else{
    $('#new_comment').replaceWith("#{j(new_comment_form_for(@comment.commentable))}");
  }
  if($('.comments').length > 0){
    $('.comments').append("#{j(render(@comment))}");
    $('form#new_comment #comment_content').val('');
  }