#service-free_jobs-filter {
  input {
    margin-right: 5px;
  }

  button[type=submit] {
    margin: 0;
  }
}

.service_free_job_task {
  label {
    display: inline;

    input[type=radio] {
      display: none;

      &:checked+img {
        box-shadow: 0 0 1px 3px #52a8ec;
      }
    }

    img {
      width: 150px;
      height: 150px;
      margin: 0 5px 5px 0;
    }
  }

}
