= auto_header_tag @supply_report
= simple_form_for @supply_report, html: { id: 'supply_report_form', class: 'form-horizontal' } do |f|

  = f.input :date, as: :my_date

  .form-actions
    = submit_button f
