:plain
  $('#client_search').val("#{@client.presentation}");
  $('#device_client_id').val("#{@client.id}");
  $('#edit_client_link').attr('href', "#{edit_client_path(@client)}");
  $('#clients_autocomplete_list').hide();
