.page-header
  %h1
    = link_back_to_index
    = t 'users.duty_schedule'
.row-fluid
  #staff_schedule.span8
    #duty_schedule_tab.tab-pane
      - DutyDay::KINDS.each do |kind|
        = duty_calendar(kind, Date.current.beginning_of_month)

  .span4
    = render 'users/staff_schedule_legend', locations: @locations