:plain
  $('#edit_client_link').attr('href', "#{edit_client_path(@client)}");
  $("#device_client").val("#{@client.name_phone}");
  $("#device_client_id").val("#{@client.id}");
  $("#modal_form").modal('hide');
  $('#client_input').data('content', "#{client_devices_list(@client)}");
  if($('#client_input').data('content') != '')
    $('#client_input').popover('show');