:plain
  $form_place = $("#client_form_place");
  $form_place.html("#{j(render('form'))}");
  $form_place.css({top: $('#client_input').offset().top,
    left: $('#client_input').offset().left + $('#client_input').outerWidth() + 20}).fadeIn();