= simple_form_for @device_type, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = link_to t('.cancel', :default => t("helpers.links.cancel")), device_types_path, :class => 'btn'
    = f.button :submit, :class => 'btn-primary'
