<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>itech.itechservice.private_pub</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/var/www/itechservice/current/private_pub_start.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/usr/local/var/www/itechservice/current</string>
	<key>UserName</key>
	<string>itech</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/www/itechservice/current/log/private_pub.log</string>
</dict>
</plist>
