<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.delayed_job.services</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/delayed_job_start.sh</string>
	</array>
	<key>UserName</key>
	<string>itech</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>OnDemand</key>
	<false/>
	<key>WorkingDirectory</key>
	<string>/usr/local/bin/</string>
</dict>
</plist>
