<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/itech/.rvm/gems/ruby-1.9.3-p429/bin:/Users/itech/.rvm/gems/ruby-1.9.3-p429@global/bin:/Users/itech/.rvm/rubies/ruby-1.9.3-p429/bin:/Users/itech/.rvm/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Applications/Server.app/Contents/ServerRoot/usr/bin:/Applications/Server.app/Contents/ServerRoot/usr/sbin:/opt/sm/bin:/opt/sm/pkg/active/bin:/opt/sm/pkg/active/sbin</string>
	</dict>
	<key>Label</key>
	<string>local.unicorn.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/itech/.rvm/gems/ruby-1.9.3-p429@itech_service/bin/unicorn</string>
		<string>-c</string>
		<string>/Users/itech/sites/itech_service/config/unicorn.rb</string>
		<string>-E</string>
		<string>production</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/itech/sites/itech_service</string>
	<key>UserName</key>
	<string>itech</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>OnDemand</key>
	<false/>
</dict>
</plist>
