<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.unicorn.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>bundle</string>
		<string>exec</string>
		<string>unicorn</string>
		<string>-D</string>
		<string>-c</string>
		<string>/Users/itech/sites/itech_service/config/unicorn.rb</string>
		<string>-E</string>
		<string>production</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/itech/sites/itech_service</string>
	<key>UserName</key>
	<string>itech</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>OnDemand</key>
	<false/>
</dict>
</plist>
