<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.postgres.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/opt/postgresql/bin/postgres</string>
		<string>-D</string>
		<string>/usr/local/var/postgres</string>
		<string>-l</string>
		<string>/usr/local/var/postgres/server.log</string>
		<string>start</string>
	</array>
	<key>UserName</key>
	<string>itech</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>OnDemand</key>
	<false/>
	<key>WorkingDirectory</key>
	<string>/usr/local</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/postgres/server.log</string>
</dict>
</plist>
