<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>rubystack.postgres.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/rubystack/ctlscript.sh</string>
		<string>start</string>
		<string>postgresql</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Applications/rubystack/</string>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>OnDemand</key>
	<false/>
</dict>
</plist>
