- if params[:form] == 'top_salable' and params[:is_group_only]
  $('#top_salable_salable_id').val("#{@product_group.id}");
  $('#top_salable_product_group_select').text("#{@product_group.name}");
  hideModal();
- else
  :plain
    $("#resource_table").html("#{j(render(params[:table_name] || 'products/table'))}");
    $('#product_choose_form  #product_items').hide();
    $('#new_product_link').removeAttr('disabled');
    $('#new_product_link').attr('href', "#{new_product_path(product: {product_group_id: @product_group.id})}");
