<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key><string>itechservice-web-1</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PORT</key><string>5000</string>
      <key>RAILS_ENV</key><string>production</string>
      <key>RUBY_VERSION</key><string>2.1.3</string>
      <key>GEM_HOME</key><string>/Users/itech/.rvm/gems/ruby-2.1.3@itechservice</string>
      <key>GEM_PATH</key><string>/Users/itech/.rvm/gems/ruby-2.1.3@itechservice</string>
      <key>BUNDLE_PATH</key><string>/Users/itech/.rvm/gems/ruby-2.1.3@itechservice</string>
      <key>PATH</key><string>/var/www/itechservice/current/bin:/Users/itech/.rvm/wrappers/ise:/Users/itech/.rvm/gems/ruby-2.1.3/bin:/Users/itech/.rvm/gems/ruby-2.1.3@global/bin:/Users/itech/.rvm/rubies/ruby-2.1.3/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Users/itech/.rvm/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>ise_unicorn</string>
      <string>start</string>
    </array>
    <!--<key>UserName</key><string>itech</string>-->
    <!--<key>GroupName</key><string>staff</string>-->
    <key>WorkingDirectory</key><string>/var/www/itechservice/current</string>
    <key>StandardOutPath</key><string>/var/www/log/itechservice-web-1.log</string>
    <key>StandardErrorPath</key><string>/var/www/log/itechservice-web-1.log</string>
    <key>RunAtLoad</key><true/>
    <key>LaunchOnlyOnce</key><true/>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key><false/>
    </dict>
  </dict>
</plist>