%ul.unstyled
  - @data_sync_job.log.each do |log|
    %li
      - if log[0] == 'inverse'
        %span.label{class: "label-#{log[0]}"}= log[1]
      - else
        %p{class: "text-#{log[0]}"}= log[1]
