#auth_page {
  height: 100%;
  text-align: center;

  .title {
    margin-bottom: 1rem;
  }
}

#auth_image {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: image-url('auth-bg.svg') center bottom no-repeat;
  background-size: contain;
}

#card_sign_in {
  display: none;
  z-index: 1055;
}
