
#secondary_form_container {
  //position: absolute;
  //height: 440px;
  //width: 550px;
  display: none;
  //z-index: 1050;
  .form-header{
    border-bottom: 1px solid #eee;
    text-align: center;
    h3{
      padding: 0;
      line-height: 30px;
    }
  }
  .form-body{
    position: relative;
    overflow-y: auto;
    padding-top: 10px;
    max-height: 328px;
  }
}
