.menu {
  list-style: none;
  margin: 0 -14px;
  max-height: 80vh;
  overflow-y: scroll;

  .menu-item {
    line-height: 1rem;

    a {
      line-height: 1rem;
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      color: #333333;
      //white-space: nowrap;
      text-decoration: none;
      text-shadow: none;

      &:hover {
        color: #ffffff;
        background-color: #0081c2;
        background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
        background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
        background-image: -o-linear-gradient(top, #0088cc, #0077b3);
        background-image: linear-gradient(to bottom, #0088cc, #0077b3);
        background-repeat: repeat-x;
      }
    }
  }
}