/*
 *= require jquery-ui-1.9.1.custom.min
 *= require jstree/apple/style
 *= require bootstrap-colorpicker
 *= require datepicker
 *= require bootstrap-datetimepicker.min
 *= require customicons
 *= require _bootstrap_and_overrides
 *= require _forms
 *= require _inputs
 *= require _menu
 *= require _table_filter
 *= require _topbar
 *= require bonuses
 *= require case_colors
 *= require cash_drawers
 *= require client_categories
 *= require clients
 *= require comments
 *= require common
 *= require dashboard
 *= require departments
 *= require device_notes
 *= require device_tasks
 *= require device_types
 *= require gift_certificates
 *= require infos
 *= require karmas
 *= require messages
 *= require order_notes
 *= require orders
 *= require payments
 *= require product_groups
 *= require products
 *= require purchases
 *= require repair_groups
 *= require repair_services
 *= require reports
 *= require revaluation_acts
 *= require salaries
 *= require sales
 *= require service_jobs
 *= require stores
 *= require supply_categories
 *= require supply_reports
 *= require task_templates
 *= require tasks
 *= require timesheet_days
 *= require top_salables
 *= require users
 *= require_directory ./service
 */
