.comments_link{
  display: inline;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

form#new_comment{
 width: 200px;
  #comment_content{
    width: 176px;
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input{
    width: 190px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.popover_comments{
  height: 400px;
  overflow-y: scroll;
}

.comments_list {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 5px;

  .comment {
    margin: 8px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}

#comment_form {
  .control-group {
    margin-bottom: 4px;
  }
  .controls > * {
    width: 97%;
    margin: 0;
  }
}
