#ticket_number {
  width: 160px;
}

.border-top-thick(){
  border-top: 4px solid #444;
}

.border-right-thick(){
  border-right: 4px solid #444;
}

.border-bottom-thick(){
  border-bottom: 4px solid #444;
}

.border-left-thick(){
  border-left: 4px solid #444;
}

#actual_tasks_table{
  &>thead>tr>th{
    border-right: 1px solid #dddddd;
  }
  &>tbody>.device_row{
    .device_tasks_toggle{
      cursor: pointer;
      float: right;
    }
    &>td{
      .border-top-thick();
      &:first-child{
        .border-left-thick();
      }
      &:last-child{
        .border-right-thick();
      }
    }
  }
  &>tbody>.device_task_row{
    &.success{
      display: none;
    }
    td:first-child{
      .border-left-thick();
    }
    td:last-child{
      .border-right-thick();
    }
  }
  &>tbody>.empty_row>td{
    .border-top-thick();
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  border-right: 0;
  border-collapse: collapse;
}

.device_movement_column{
  .history_link{
    float: right;
    text-decoration: none;
  }
  width: 15%;
}

.device_task_column{
  width: 25%;
}

.client_comment_column{

}

.device_task_action_column{
  width: 30px;
}

#device_tasks_small{
  .device_task_task{
    width: 150px;
  }
  .task_name_column{
    widows: 170px;
  }
  .device_task_cost{
    width: 100px;
  }
  .task_cost_column{
    text-align: right;
    width: 100px;
  }
  .task_comment_column{

  }
  .task_actions{
    display: none;
  }
}

#actual_orders_table{
  .order_created_at_column{
    width: 120px;
  }
  .order_actions_column{
    width: 30px;
  }
}

#reports_filter{
  span{
    margin-bottom: 0;
  }
}

#reports_tables{
  th{
    text-align: center;
  }

  tfoot{
    font-weight: bold;
  }

  .detailable{
    font-weight: bold;
    cursor: pointer;
  }
  .details{
    display: none;
  }

  #users_report{
    .user, .device{
      width: 70%;
    }
    .movement{
      width: 30%;
    }
  }

  #tasks_durations_report{
    .task{
      width: 70%;
    }
    .duration{
      width: 30%;
    }
  }
}
