#ticket_number {
  width: 160px;
}

#actual_tasks_table{
  .device_row{
    .device_tasks_toggle{
      cursor: pointer;
      float: right;
    }
  }
  .device_task_row.success{
    display: none;
  }
}

.device_movement_column{
  .history_link{
    float: right;
    text-decoration: none;
  }
  width: 15%;
}

.device_task_column{
  width: 25%;
}

.client_comment_column{

}

.device_task_action_column{
  width: 30px;
}

#device_tasks_small{
  .device_task_task{
    width: 150px;
  }
  .task_name_column{
    widows: 170px;
  }
  .device_task_cost{
    width: 100px;
  }
  .task_cost_column{
    text-align: right;
    width: 100px;
  }
  .task_comment_column{

  }
  .task_actions{
    display: none;
  }
}

#new_device_popup{
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 1010;
  display: none;

  .popup{
    display: block;
    width: 236px;
    padding: 1px;
    margin-top: 10px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    .arrow{
      top: -11px;
      left: 50%;
      margin-left: -11px;
      border-bottom-color: #999;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      border-top-width: 0;
      border-width: 11px;
    }
    .arrow, .arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .arrow::after {
      top: 1px;
      margin-left: -10px;
      border-bottom-color: #ffffff;
      border-top-width: 0;
    }
    .arrow::after {
      border-width: 10px;
      content: "";
    }
    .arrow, .arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .title{
      padding: 8px 14px;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      a{
        text-decoration: none;
      }
    }
  }
}
