#device_types_tree {
  margin-top: 10px;
  margin-left: 100px;
}

#new_device_type{
  form{
    display: none;
    margin: 10px 0 0 0;
  }
  margin-top: 20px;
  margin-left: 100px;
}

#device_type_form{
  .well{
    position: fixed;
  }
}

#device_type_selector {
  #device_type_select_button {
    width: 284px;
    #device_type_name {
      width: 235px;
      text-align: left;
    }
  }
  #device_types_list {
    min-width: 277px;
    left: 39px;
  }
}
