// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

//#device_type {
//  width: 278px;
//}

#device_type_name {
  width: 235px;
  text-align: left;
}

#device_type_select_button {
  width: 282px;
}

#device_types_list {
  min-width: 277px;
  left: 39px;
}

#locations_select_button {
  width: 318px;
  text-align: left;
}

#locations_list {
  min-width: 318px;
}
