.device_comment_tooltip{
  display: inline;
}

.device_comment{
  color: indianred;
}

#reports_filter{
  button{
    margin: 0;
  }
}

form.device_form{

  #locations_select_button {
    width: 318px;
    text-align: left;
  }

  #locations_list {
    min-width: 318px;
  }

  #clients_autocomplete_list {
    width: 319px;
  }

  #device_tasks {
    .task_type {
      width: 220px;
    }
    .task_cost {
      width: 110px;
    }
    .task_comment {
      width: 220px;
    }
    .task_actions {
      width: 30px;
    }
    width: 625px;
  }

  #device_security_code {
    width: 246px;
  }

  #device_imei,
  #device_serial_number {
    width: 266px;
  }

  #device_comment,
  #device_service_duration,
  #device_return_at {
    width: 305px;
  }

}

#actual_tasks_table {
  table.movement_history {
    &>tbody{
      &>tr{
        &>td{
          background-color: #ffffff;
          border: none;
          padding: 2px;
        }
      }
    }
  }
}

#new_device_popup{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
//  display: none;

  .popup{
    display: block;
    width: 236px;
    padding: 1px;
    margin-top: 10px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    .arrow{
      top: -11px;
      left: 50%;
      margin-left: -11px;
      border-bottom-color: #999;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      border-top-width: 0;
      border-width: 11px;
    }
    .arrow, .arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .arrow::after {
      top: 1px;
      margin-left: -10px;
      border-bottom-color: #ffffff;
      border-top-width: 0;
    }
    .arrow::after {
      border-width: 10px;
      content: "";
    }
    .arrow, .arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .title{
      padding: 8px 14px;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      a{
        text-decoration: none;
      }
    }
  }
}

#device_returning {
  margin-left: 1px;
  margin-right: 1px;
  &.notify {
    background-color: #ffc7c5;
    &:hover {
      background-color: #eeb6b4;
    }
  }
  .popover {
    max-width: 360px;
    .popover-content {
      width: 340px;
    }
  }
}

#returning_devices_list {
  .returning_device_tooltip+.tooltip>.tooltip-inner {
    font-size: 14px;
    strong {
      white-space: nowrap;
    }
  }
}
