#gift_certificate_reader{
  display: none;
  &.modal-backdrop.fade.in{
    opacity: 0.9;
  }
}

#gift_certificate_form{
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  color: darkblue;
  .modal-body, .modal-footer{
    padding-left: 60px;
    padding-right: 60px;
    .error{
      color: indianred;
    }
  }
  #gift_certificate_history{
    margin-top: 6px;
    line-height: 18px;
    font-size: 18px;

  }
}

#issue_gift_certificate_link,
#activate_gift_certificate_link,
#check_gift_certificate_link{
  width: 180px;
}