#karma_form{
  #karma_comment{
    width: 184px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  .actions{
    .btn-group{
      width: 198px;
      .btn{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:nth-child(2){
          width: 97px;
        }
      }
    }
    margin-top: -3px;
    width: 198px;
  }
  margin: 5px;
}

.new_karma_link{
  font-size: 60px;
  &:hover{
    text-decoration: none;
  }
  &.good{
    color: green;
  }
  &.good.large{
    margin-right: 20px;
  }
  &.bad{
    color: red;
  }
}

#user_karmas{
  margin-bottom: 20px;

  .good{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    &.ui-selected{
      color: goldenrod;
    }
  }

  .bad{
    margin-top: 10px;
  }

  .karma_link{
    font-size: 30px;
  }

  #karma_popover_container {
    .popover {
      z-index: 1011;
    }
  }

  #karma_group_popover_container {
    .popover {
      .popover-title {
        .new_bonus_link {
          float: right;
        }
      }
    }
  }

  #create_karma_group_form {
    display: none;
    #karma_group_karma_qty {
      width: 40px;
    }
    input:first-child {
      border-top-left-radius: 0;
    }
    input:last-child {
      border-top-right-radius: 0;
    }
  }

  #select_karmas_button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

.karma_link {
  &:hover {
    text-decoration: none;
  }
  &.good{
    color: green;
  }
  &.bad{
    color: red;
  }
  &.drop-hover{
    font-size: 38px;
  }
}

#header_karma_form {
  #karma_user_id,
  button[type=submit] {
    width: 246px;
  }
  #karma_comment {
    width: 232px;
  }
  .btn {
    width: 123px;
  }
}

.karma_group_link{
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
  &.drop-hover {
    font-size: 38px;
  }
}
