#karma_form{
  #karma_comment{
    width: 184px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  .actions{
    .btn-group{
      width: 198px;
      .btn{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:nth-child(2){
          width: 97px;
        }
      }
    }
    margin-top: -3px;
    width: 198px;
  }
  margin: 5px;
}

.new_karma_link{
  font-size: 40px;
  &:hover{
    text-decoration: none;
  }
  &.good{
    color: green;
  }
  &.good.large{
    margin-right: 20px;
  }
  &.bad{
    color: red;
  }
}

#user_karmas{
  margin-bottom: 20px;

  #good_karmas{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
  }

  #bad_karmas{
    margin-top: 10px;
  }

  #karma_popover_container {
    .popover {
      z-index: 1011;
    }
  }

  #karma_group_popover_container {
    .popover {
      .popover-title {
        .new_bonus_link{
          margin-right: 4px;
        }
        .new_bonus_link,
        .destroy_karma_group{
          float: right;
        }
      }
      .popover-content{
        max-height: 180px;
        overflow-y: scroll;
      }
    }
  }

  #create_karma_group_form {
    display: none;
    margin-left: 1px;
    #karma_group_karma_qty {
      width: 40px;
    }
    .btn{
      border-top-left-radius: 0;
    }
    input:first-child {
      border-top-left-radius: 0;
    }
    input:last-child {
      border-top-right-radius: 0;
    }
  }

  #select_karmas_button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

.karma_link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 5px;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &.good{
    &.ui-selected img{
      box-shadow: 0 0 9px 0 #00F;
    }
    &.drop-hover img {
      box-shadow: 0 0 9px 0 #0F0;
    }
  }
  img{
    border-radius: 25px;
    width: 35px;
  }
}

.karma_group_link {
  cursor: pointer;
  color: #3b5d95;
  font-weight: bold;
  text-shadow: -1px 0 #CDE6FF, 0 1px #CDE6FF, 1px 0 #CDE6FF, 0 -1px #CDE6FF;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  span{
    position: absolute;
    margin: auto;
    top: 20px;
    left: -5px;
    right: 0;
    bottom: 0;
    height: 35px;
  }
  img{
    border-radius: 25px;
    width: 35px;
  }
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
  &.drop-hover img{
    box-shadow: 0 0 9px 0 #0F0;
  }
}

.bonus_link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 5px;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  img {
    border-radius: 25px;
    width: 35px;
  }
}

#header_karma_form {
  form{
    margin: 0;
  }
  #karma_user_id,
  button[type=submit] {
    width: 246px;
  }
  #karma_comment {
    width: 231px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn {
    width: 123px;
  }
  .btn-group>.btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
