#payment_form{
  #sale_calculation_amount{
    font-weight: bold;
    font-size: 16px;
  }
}

#sale_payments_form{
  #payments_table{
    .kind{
      width: 160px;
      select{
        width: 160px;
      }
    }
    .value{
      width: 110px;
    }
    .addl_attr{
      width: 230px;
    }
  }
}
