#salary_announce{
  margin-left: 1px;
  margin-right: 1px;
  &.notify{
    background-color: #ffc7c5;
    &:hover {
      background-color: #eeb6b4;
    }
  }
  .popover{
    width: 300px;
  }

  .new_salary_link{
    &:hover{
      text-decoration: none;
    }
  }

  #oncoming_salaries_list{
    margin-bottom: 0;
  }
}

