#sale_form {
  margin-top: 20px;
  div[class*="span"]{
    border: 1px solid #DDDDDD;
  }
  select {
    margin: 0;
  }
  .quick_select_row{
    .quick_select_cell{
//      border-left: 1px solid #dddddd;
//      border-top: 1px solid #dddddd;
      height: 40px;
    }
  }
  .header_row{
    height: 30px;
  }
  .result_row{
    height: 60px;
    font-weight: bold;
    line-height: 60px;
    font-size: 40px;
  }
}