#supply_categories_tree {
  display: none;
  margin-top: 10px;
  margin-left: 20px;
}

.supply_category_selector {
  .supply_category_select_button {
    width: 284px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    .supply_category_name {
      text-align: left;
    }
  }
  .supply_categories_list {
    min-width: 310px;
  }
}
