#supplies_table{
  .category{
    width: 200px;
  }
  .name{
    width: 290px;
  }
  .quantity{
    width: 80px;
  }
  .cost{
    width: 110px;
  }
  .sum{
    width: 110px;
  }
  .action{
    width: 50px;
  }
}