#timesheet_datepicker {
  text-decoration: none;
}

#timesheet_table {
  th {
    white-space: nowrap;
  }
  td.fio_col, td.job_title_col {
    white-space: nowrap;
  }
  td.timesheet_day {
    min-width: 60px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    .good_karmas,
    .bad_karmas{
      float: right;
    }
    .good_karmas{
      border-bottom: thin solid #dddddd;
      border-left: thin solid #dddddd;
    }
    .bad_karmas {
      border-top: thin solid #dddddd;
      border-bottom: none;
      border-left: thin solid #dddddd;
    }
    &.work{
      border: #DFF0D8 3px solid;
    }
    &.day_off{
      border: #A7D5E7 3px solid;
    }
    &.empty {
      background-color: #ffc7c5;
    }

  }
  tr:hover {
    td.timesheet_day {
      &.empty {
        background-color: #ffa4a4;
      }
      &.accounting_month {
        border-top: solid 3px #f00033;
        border-bottom: solid 3px #f00033;
      }
      &.salary_day {
        border-left: solid 3px #f00033;
        border-right: solid 3px #f00033;
      }
    }
  }
}

.fault_kind-icon {
  width: 40px;
}

#timesheet_day_form {
  margin: 0;
  min-width: 158px;
  #timesheet_day_status {
    width: 100px;
  }
}

#timesheet_table_container{
  overflow-x: scroll;
}