#products_quick_select_panel{
  a{
    width: inherit;
    display: table-cell;
//    background-color: #FAFAFA;
//    color: gray;
    color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
//    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
//    background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
//    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
    transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
    &:hover{
//      background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.08)));
//      background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
//      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
      color: rgba(0,0,0,.7);
    }
    &:active{
//      background-color: #F1F1F1;
//      color: rgba(0,0,0,.7);
      -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
      box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
    }
  }
  #quick_select_back_link{
    height: 120px;
    //    color: midnightblue;
    font-size: 33px;
  }
  .quick_select_back_button{
    width: 5%;
  }
  .product_buttons_group{
    margin-left: 0;
    width: 95%;
  }
  .quick_select_row{
    .quick_select_cell{
      margin-left: 0;
      width: 10%;
      display: table;
      &>a{
        height: 60px;
      }
    }
  }
}
