// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.date_field {
  width: 94px;
}

#schedule_tab table {
  width: 800px;
}

.work_hour {
  background-color: #F2DEDE;
}

.schedule_hour {
  cursor: pointer;
}

.ui-draggable-dragging {

}
