%h4= t 'products.related_list_title'
- @related_products.each do |product|
  = link_to product.name, '#', class: 'btn', title: product.name

- @related_product_groups.each do |product_group|
  = link_to glyph('chevron-left')+product_group.name.html_safe, '#', class: 'btn has-popover', title: product_group.name, data: { html: true, placement: 'left', content: product_group.products.map { |product| link_to(product.name, '#', class: 'btn', title: product.name) }.join }