:plain
  store_id = $('form [id$=store_id]').val();
  $("body").append("#{j(render('choose_form'))}");
  $('#modal_form form').attr('store_id', store_id);
  if(store_id != ''){
    $('#modal_form form a').each(function(){
      $(this).attr('href', $(this).attr('href') + '&store_id=' + store_id);
    });
  }
  product_groups_tree('#product_groups');
  $("#modal_form").modal('show');
