<% if @repair_services.present? %>
  <table class="table table-condensed table-hover">
    <tbody>
    <% @repair_services.each do |repair_service| %>
      <tr class="repair_service_row">
        <td>
          <%= link_to repair_service.name,
                      select_repair_service_path(repair_service, params.slice(:device_task_id)),
                      remote: true
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @repair_services, remote: true if @repair_services.respond_to? :current_page %>
<% else %>
  <strong>Выбери группу</strong>
<% end %>
