#sale_form_container
  #sale_top_panel= render 'products/quick_select_panel'
  #sale_center_row.row-fluid
    #sale_left_panel.span2= render 'form_left_panel'
    #sale_form_content.span8= render 'form_content'
    #sale_right_panel.span2
  #sale_bottom_row.row-fluid= render 'form_bottom_panel'