%table#orders_report.table.table-bordered.table-hover
  %caption
    %h4= report_title @report
  %thead
    %tr
      %th
  %tbody
    - @report.result[:orders].each do |order|
      %tr.order_row
        %td
  %tfoot
    %tr
      %td