<table id="service_job_viewings_report" class="table table-bordered table-hover">
  <caption><%= report_title(report) %></caption>

  <thead>
  <tr>
    <th>Время и дата</th>
    <th>Номер устройства</th>
    <th>Кто просматривал</th>
  </tr>
  </thead>

  <tbody>
  <% report.result[:records].each do |record| %>
    <tr>
      <td><%= I18n.l(record.time, format: :time_date) %></td>
      <td><%= link_to(record.ticket_number, service_job_path(record.job_id), target: '_blank') %></td>
      <td><%= record.viewer %></td>
    </tr>
  <% end %>
  </tbody>
</table>