= simple_form_for @info, html: { class: 'form-horizontal' } do |f|
  = f.input :title, input_html: {class: 'span9'}
  = f.input :content, as: :ckeditor, input_html: { tollbar: 'Full', width: 800, height: 400 }
  .form-actions
    = submit_button f
