- if @infos.any?
  %table#news_table
    - date = nil
    - @infos.each do |info|
      - unless date == info.created_at.to_date
        - date = info.created_at.to_date
        %tr
          %td{colspan: 1}
            %strong= date.strftime '%d.%m.%Y'
      %tr{class: info.important ? 'warning' : ''}
        %td.time_col
          = info.created_at.strftime '%H:%M'
        %td.info_col{class: info.type_s}
          = link_to info.title, info_path(info)
