= content_for :info do
  - if @important_info.present?
    #important_info
      = link_to @important_info.title, info_path(@important_info)
  - if @personal_infos.any?
    #personal_infos
      - @personal_infos.each do |info|
        .info= link_to info.title, info_path(info)

  = duty_info_tag if current_user.is_duty_today?
