<html lang="ru">
  <head>
    <style type="text/css">
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px;
      }

      .align_right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
